@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Latest Telemetry</th>
            <th scope="col">Battery %</th>
            <th scope="col">Temperature (C)</th>
            <th scope="col">Latest Image</th>
            <th scope="col"></th>
            @* <th scope="col"></th> *@
            </tr>
        </thead>
        <tbody>
                @foreach (var device in Model.devices){
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => device.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Description)
                        </td>
                        <td>
                            @(device.LatestTelemetry!=null?device.LatestTelemetry.Timestamp:"---")
                        </td>
                        <td>
                            @(device.LatestTelemetry!=null?device.LatestTelemetry.BatteryPercent:"---")
                            @* @Html.DisplayFor(modelItem => device.LatestTelemetry!=null?device.LatestTelemetry.BatteryPercent:-999) *@
                        </td>
                        <td>
                            @(device.LatestTelemetry!=null?device.LatestTelemetry.TemperatureC:"---")
                            @* @Html.DisplayFor(modelItem => device.LatestTelemetry!=null?device.LatestTelemetry.TemperatureC:-999) *@
                        </td>
                        <td>
                            @(device.LatestImage!=null?device.LatestImage.Timestamp:"---")
                        </td>
                        <td>
                            @if(device.LatestImage!=null){
                                <img class="img-thumbnail" src="@(device.LatestImage.BlobUri + Model.SasToken)" width=100></img>
                            }
                        </td>
                        @* <td>
                            @Html.ActionLink("Edit", "Edit", new { id=device.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=device.Id})  |
                            @Html.ActionLink("Delete", "Delete", new { id=device.Id }) 
                        </td> *@
                    </tr>
                }
        </tbody>
    </table>
</div>
