@page
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<script>
    const latest24HoursTelemetryUri = 'api/Telemetry/GetLatest24HoursTelemetry'

    function getTelemetry(deviceId, chart) {
        fetch(latest24HoursTelemetryUri + '?deviceId=' + deviceId)
            .then(response => response.json())
            .then(data => showTelemetry(chart, data))
            .catch(error => console.error('Unable to get telemetry.', error));
    }

    function showTelemetry(chart, data){
        console.log("showTelemtery");
        console.log(data)
        chart.config.data.datasets[0].data = data.map(d => ({x: new Date(d.timestamp), y: d.batteryPercent}));
        chart.config.data.datasets[1].data = data.map(d => ({x: new Date(d.timestamp), y: d.temperatureC}));
        chart.config.data.datasets[2].data = data.map(d => ({x: new Date(d.timestamp), y: d.diskSpaceFree}));        
        chart.update();
    }
</script>

<div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">S</th>
            <th scope="col">M</th>
            <th scope="col">Telemetry</th>
            <th scope="col" colspan="3">Battery</th>
            <th scope="col">Disk</th>
            <th scope="col" colspan="2">Uptime</th>
            <th scope="col">Temp</th>
            @* <th scope="col">Latest Image</th> *@
            <th scope="col"></th>
            @* <th scope="col"></th> *@
            </tr>
        </thead>
        <tbody>
                @foreach (var device in Model.devices){
                    <tr>
                        <td>
                            <a href="DeviceEdit/@(device.Id)">@(device.Id)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => device.Description)
                        </td>
                        <td>
                            @if(device.SupportMode){
                                <i class="fa fa-cog" data-toggle="tooltip" title="Support Mode"></i>
                            }
                        </td>
                        <td>
                            @if(device.MonitoringMode){
                                <i class="fa fa-eye" data-toggle="tooltip" title="Monitoring Mode"></i>
                            }
                        </td>
                        <td>
                            @if(device.HibernateMode){
                                <i class="fa fa-moon" data-toggle="tooltip" title="Hibernate Mode"></i>
                            }
                        </td>
                        <td>
                            @if(device.PowerOff){
                                <i class="fa fa-power-off" data-toggle="tooltip" title="Power Off"></i>
                            }
                        </td>
                        <td>
                            @* @(device.LatestTelemetry!=null?device.LatestTelemetry.Timestamp:"---") *@
                            @* <script type="text/javascript">localize('@(device.LatestTelemetryTimestamp.HasValue?device.LatestTelemetryTimestamp.Value.ToString("s"):"---")')</script> *@
                            @if (device.LatestTelemetry!=null && DateTime.UtcNow - device.LatestTelemetry.Timestamp > TimeSpan.FromMinutes(60)){
                                <span class="badge bg-warning text-dark">@((DateTime.UtcNow - device.LatestTelemetry.Timestamp).Humanize()) old</span>
                            } else {
                                <span>@(device.LatestTelemetryTimestamp.HasValue?device.LatestTelemetryTimestamp.Humanize():"---")</span>
                                @* <span>@((DateTime.UtcNow - device.LatestTelemetry.Timestamp).Humanize()) ago</span> *@
                            }

                        </td>
                        @if(device.LatestTelemetry!=null){
                            <td>
                                @if(device.LatestTelemetry.BatteryPercent<20){
                                    <i class="fa fa-battery-empty" data-toggle="tooltip" title="@(device.LatestTelemetry.BatteryPercent)%"></i>
                                } else if(device.LatestTelemetry.BatteryPercent<40){
                                    <i class="fa fa-battery-quarter" data-toggle="tooltip" title="@(device.LatestTelemetry.BatteryPercent)%"></i>
                                } else if(device.LatestTelemetry.BatteryPercent<60){
                                    <i class="fa fa-battery-half" data-toggle="tooltip" title="@(device.LatestTelemetry.BatteryPercent)%"></i>
                                } else if(device.LatestTelemetry.BatteryPercent<80){
                                    <i class="fa fa-battery-three-quarters" data-toggle="tooltip" title="@(device.LatestTelemetry.BatteryPercent)%"></i>
                                } else {
                                    <i class="fa fa-battery-full" data-toggle="tooltip" title="@(device.LatestTelemetry.BatteryPercent)%"></i>
                                }
                            </td>
                            <td>
                                @if(device.LatestTelemetry.Status_Battery=="Charging"){
                                    <i class="fa fa-bolt" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_Battery)"></i>
                                } else if(device.LatestTelemetry.Status_Battery=="Normal"){
                                } else if(device.LatestTelemetry.Status_Battery=="Not Present"){
                                    <i class="fa fa-xmark" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_Battery)"></i>
                                }
                            </td>
                            <td>
                                @if(device.LatestTelemetry.Status_PowerInput=="Present"){
                                  <i class="fa fa-plug-circle-bolt" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_PowerInput)"></i>
                                } else if(device.LatestTelemetry.Status_PowerInput=="Not Present"){
                                  <i class="fa fa-plug-circle-minus" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_PowerInput)"></i>
                                } else if(device.LatestTelemetry.Status_PowerInput=="Weak"){
                                  <i class="fa fa-plug-circle-exclamation" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_PowerInput)"></i>
                                } else if(device.LatestTelemetry.Status_PowerInput=="Bad"){
                                  <i class="fa fa-plug-circle-xmark" data-toggle="tooltip" title="@(device.LatestTelemetry.Status_PowerInput)"></i>
                                }
                            </td>

                            <td>@(device.LatestTelemetry.DiskSpaceFree)</td>
                            @* <td>@(ByteSize.FromGigabytes(device.LatestTelemetry.DiskSpaceFree))</td> *@
                            <td>@(TimeSpan.FromSeconds(device.LatestTelemetry.UptimeSeconds.Value).Humanize())</td>

                        } else {
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        }
                        <td>
                        @if(device.LatestTelemetry!=null){

                            <a href="TelemetryGraph/@(device.Id)"><canvas id="myChart_@(device.Id)" width="100" height="50"></canvas></a>

                            <script>

                                var config = {
                                    type: 'line',
                                    options: {
                                        plugins: {
                                            legend: {
                                                display: false,
                                            }
                                        },
                                        scales: {
                                            x: {
                                                    parsing: false,
                                                    display: false,
                                                    type: 'time',
                                                    time: {
                                                        unit: 'hour'
                                                    },
                                                    suggestedMin: new Date(@(new DateTimeOffset(device.LatestTelemetry.Timestamp).AddDays(-2).ToUnixTimeMilliseconds())),
                                                    @* suggestedMax: new Date(), *@
                                                    suggestedMax: new Date(@(new DateTimeOffset(device.LatestTelemetry.Timestamp).ToUnixTimeMilliseconds())),
                                            },
                                            y: {
                                                    display: false,
                                                    beginAtZero: true
                                            }
                                        },
                                        elements: {
                                            line: {
                                                borderColor: '#000000',
                                                borderWidth: 1
                                            },
                                                point: {
                                                    radius: 0 
                                            } 
                                        },
                                        responsive: false,
                                        animation: false
                                    }
                                };

                                data = {
                                    @* labels: labels, *@
                                    datasets: [{
                                        backgroundColor: 'rgb(99, 99, 255)',
                                        borderColor: 'rgb(99, 99, 255)',
                                    }, {
                                        backgroundColor: 'rgb(255, 99, 132)',
                                        borderColor: 'rgb(255, 99, 132)',
                                    }, {
                                        label: "Disk Space Free",
                                        backgroundColor: 'rgb(50, 225, 50)',
                                        borderColor: 'rgb(50, 225, 50)',
                                    }]
                                };

                                config.data=data;

                                const myChart_@(device.Id) = new Chart(
                                    document.getElementById('myChart_@(device.Id)'),
                                    config
                                );

                                getTelemetry(@(device.Id), myChart_@(device.Id));

                            </script>
                        }
                        </td>
                        <td>
                            @(device.LatestTelemetry!=null?device.LatestTelemetry.TemperatureC:"-")
                        </td>
                        @* <td>
                            <span>@(device.LatestImageTimestamp.HasValue?device.LatestImageTimestamp.Humanize():"---")</span>
                        </td> *@
                        <td>
                            @if(device.LatestImage!=null){
                                <a href="ImageView/@(device.Id)"><img class="img-thumbnail" src="@(device.LatestImage.BlobUri + Model.SasToken)" width=200 height=120></img></a>
                                @if (device.LatestImage!=null && DateTime.UtcNow - device.LatestImage.Timestamp > TimeSpan.FromMinutes(60)){
                                    <span class="badge bg-warning text-dark">@((DateTime.UtcNow - device.LatestImage.Timestamp).Humanize()) old</span>
                                }
                            }
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>
